header {
    background-color: #3B8EA5;
}

body {
    background-color: #E7DFC6;
}

footer {
    background-color: #8E6E53;
}

main {
    flex-grow: 1;
    padding: 15px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
